@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    /* fonts */
    --font-dm: "DM Serif Text", serif;
    --font-source: "Source Sans 3", sans-serif;

    /* colours */
    --color-header: #2E2B28;
    --color-text: #5A5652;
    --color-bg: #F6F3EF;
    --color-accent: #C26A5A;
    --color-accent-dark: #A95447;

    /* border */
    --border-a: url('../assets/border.svg') 40 round;
}

body {
    @apply font-source text-text xl:text-base md:text-sm text-xs bg-bg xl:py-20 md:py-16 py-14 xl:px-16 md:px-12 px-4;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-dm text-header uppercase;
}

h1 {
    @apply xl:text-8xl md:text-6xl text-5xl;
}

h2 {
    @apply xl:text-5xl md:text-4xl text-2xl leading-tight;
}

h3 {
    @apply xl:text-3xl md:text-2xl text-xl;
}

h4 {
    @apply xl:text-xl md:text-lg text-base;
}

ul {
    @apply list-disc space-y-1 my-1 xl:pl-16 md:pl-12 pl-8;
}

.postcard-text::-webkit-scrollbar, .textarea::-webkit-scrollbar {
    width: 2px;
    background-color: #F6F3EF;
}

.postcard-text::-webkit-scrollbar-thumb, .textarea::-webkit-scrollbar-thumb {
    background-color: #F6F3EF;
    transition: all .2s ease-in-out;
}

.postcard-text:hover::-webkit-scrollbar-thumb, .textarea:hover::-webkit-scrollbar-thumb {
    background-color: #C26A5A;
}

.postcard-text:hover::-webkit-scrollbar-thumb:active, .textarea:hover::-webkit-scrollbar-thumb:active {
    background-color: #A95447;
}