@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    /* fonts */
    --font-dm: "DM Serif Text", serif;
    --font-source: "Source Sans 3", sans-serif;

    /* colours */
    --color-header: #2E2B28;
    --color-text: #5A5652;
    --color-bg: #F6F3EF;
    --color-accent: #C26A5A;
    --color-accent-dark: #A95447;

    /* border */
    --border-a: url('../assets/border.svg') 40 round;
}

body {
    @apply font-source text-text text-base bg-bg p-20;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-dm text-header uppercase;
}

h1 {
    @apply text-8xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-xl;
}